---
# Default home page with boxes providing collection stats
layout: page
---
 <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
##These theses investigate the evolving role of typography in visual communication, focusing on its conceptual, aesthetic, and cultural dimensions. Through a series of design experiments and theoretical reflections, the works consider how typographic form engages with meaning across various contexts and media.    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}
    
    {% include index/objects.html %}

  </div>

</div>
